:root {
  --message-content-background-color: #243447;
  --my-message-content-background-color: #c51f5d;
  --button-hover-color: #8b0f3d !important;
  --message-content-color: #ffffff;
  --background-message: #141d26;
}
